body {
    margin-left: auto;
    margin-right: auto;
}

.wrap {
    margin: 0 auto;
    width: 1001px;
}

.bar {
    height: 30px;
    background-color: #f6f6f6;
}

.bar ul {
    float: right;
}

.bar ul li {
    float: left;
    margin: 5px;
}

.bar li a {
    text-decoration: none;
    font-size: 16px;
}

.bar li img {
    margin-right: 5px;
    float: left;
}

.bar li span {
    float: left;
}

.facebook {
    color: #4460a0;
    border-right: 1px solid white;
    padding-right: 8px;
}

.header {
    margin: 0 auto;
    width: 1001px;
    height: 418px;
    background-image: url(../img/Banner.jpg);
    background-repeat: no-repeat;
    position: relative;
}

.logo {
    margin: 10px 10px 10px 20px;
    float: left;
    background-image: url(../img/logo.png);
    width: 170px;
    height: 36px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.navbar {
    width: 1001px;
    height: 56px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.topmenu {
    float: right;
    line-height: 51px;
}

.topmenu li {
    float: left;
    height: 51px;
    margin-right: 20px;
}

.topmenu li:hover {
    border-bottom: 5px solid #20cb9a;
}

.topmenu a {
    color: #20cb9a;
    text-decoration: none;
}

.banner {
    background: rgba(48, 48, 48, 0.2);
    width: 1001px;
    height: 160px;
    position: absolute;
    top: 40%;
}


.banner h1 {
    color: white;
    font-size: 24px;
    padding-top: 38px;
    padding-left: 20px;
    line-height: 1.5;
}

.intro {
    margin: 30px auto;
    width: 1001px;
}

.intro li {
    position: relative;
    float: left;
    width: 299px;
    height: 330px;
    border: 2px solid #f6f6f6;
    margin-left: 20px;
    margin-right: 10px;
    margin-top: : 10px;
    box-shadow: 0px 1px 0px 0px #cccccc;
}

.intro li p {
    line-height: 1.5;
}

.intro li div {
    padding-left: 10px;
    padding-right: 10px;
}

.intro li h3 {
    line-height: 1.5;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.content p span {
    letter-spacing: 3px;
}

.intro ul li ul li {
    line-height: 1.5;
    list-style: disc;
    position: relative;
    border: none;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 0px 0px #cccccc;
}

.img {
    padding-top: 10px;
    height: 150px;
    text-align: center;
}

.compare {
    margin: 50px auto;
    width: 1001px;
}

h2{

    font-size: 20px;
    letter-spacing: 3px;
}

.compare h2 {
    margin-bottom: 30px;
    font-weight: bold;
    text-align: center;
}

.compare table {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.compare table th {
    font-weight: bold;
    background: #F7F7F7;
    text-align: left;
}

.compare table th,
.compare table td {
    border-top: 1px solid #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    padding: 10px;
}

.superb {
    color: #2EB18E;
}

.data {
    margin-left: auto;
    margin-right: auto;
    width: 1001px;
    height: 405px;
    background:  linear-gradient(#00644b,#009771);
}

.data h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 1.5;
    color: #FFFFFF;
}

.note {
    padding-left: 20px;
    padding-right: 10px;
    width: 460px;
    height: 300px;
    float: left;
}

.note textarea {
    height: 270px;
    width: 450px;
}

.information {
    padding-left: 10px;
    padding-right: 10px;
    height: 250px;
    width: 460px;
    float: right;
}

.information label {
    color: #FFFFFF;
    margin-bottom: 10px;
    display: block;
}

.textBox {
    width: 450px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 25px;
}

.btn {
    background: #20cb9a;
    color: #ffffff;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    border: 0px;
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 5px;
}

.btn:hover{
    background: #5cc9f5;
}

.footer {
    margin: 20px auto;
    width: 1001px;
    height: 600px;
}

.footer-logo {
    margin-left: 10px;
    float: left;
    background-image: url(../img/footer-logo.png);
    width: 171px;
    height: 36px;
    display: block;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

.connection {
    margin-right: 10px;
    float: right;
}

.connection span {
    color: red;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
